<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Notes</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div id="header">
        <nav id="nav-bar">
            <p>© Code by Sergio</p>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/edit.ejs">Login</a></li>
            </ul>
        </nav>
    </div>
    <hr>
    
        
    
    
    
    
